@tailwind base;
@tailwind components;
@tailwind utilities;

// Fuente principal
$font-stack: Helvetica, sans-serif;

// Colores ajustados para mejor contraste y armonía
$primary-color: #30405d; // Azul grisáceo principal
$primary-color-dark: #151c29; // Versión más oscura
$secondary-color: #d2807f; // Rojo/rosa suavizado
$secondary-color-dark: #b56968; // Versión más oscura del secundario
$tertiary-color: #90aebb; // Azul claro para acentos
$tertiary-color-dark: #708090; // Versión más oscura del terciario

// Texto y fondo
$text-black: #121212;
$text-white: #ffffff;
$text-title: #30405d; // Puedes usar este color en títulos
$primary-background-color: #b56968; // Fondo principal, tono pastel

* {
  font-family: 'Heebo', sans-serif;
  @apply w-full;
}

body {
  font: 100% $font-stack;
  color: $text-white;
  @apply selection:bg-[#d2807f] selection:text-white;
}

main {
 @apply bg-[#121212];
}

.email {
  color: $secondary-color;
  text-decoration: none;
  @apply text-lg font-bold;
}

.social-icons {
  color: #121212;
}

.my-image{
    @apply w-64 h-64 object-cover rounded-full;
}
.tech-icons {
  background: $primary-color-dark;
  color: $text-white;

  &:hover {
    background: $secondary-color;
    color: $text-white;
  }

  @apply p-2 rounded transition-all duration-300 font-mono;
}

.my-name {
  color: $secondary-color;
  @apply text-5xl font-bold;
}

.project-title {
  color: $secondary-color;
  @apply text-lg lg:text-xl font-bold text-center lg:text-left;
}

.btn {
  background: $secondary-color;
  color: $text-white;

  @apply p-2 rounded transition-all duration-300 w-full text-center font-semibold;

  &:hover {
    background: $secondary-color-dark;
  }
}

.nsfwlogo {
  color: $text-white;
  @apply text-3xl;

  &:hover {
    color: $secondary-color;
  }
}

.container {
  @apply mx-auto px-4 py-8;
}

.prose {
  @apply max-w-4xl;
}

.project-title {
  @apply text-4xl font-bold pb-2 mt-8 mb-4;
}

.section-title {
  @apply text-2xl font-bold border-b-2 border-[#fefffa] pb-2 mt-8 mb-4;
}

.section-text {
  @apply text-lg leading-relaxed text-gray-400;
}

.list-disc {
  @apply pl-5;
}

// Hello.vue
.container-hello {
  @apply text-center;
}

.grid-container {
  @apply max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 p-4;
}

.image-wrapper {
  @apply p-2 mx-auto rounded-xl;
}

.image {
  @apply rounded-xl mx-auto object-cover;
}

.text-wrapper {
  @apply p-2 my-auto;
}

.title {
  @apply text-3xl;
}

.description {
  @apply text-xl p-2;
}